@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'Perandory';
    src: url('../assets/fonts/perandory/Perandory-Regular.ttf') format('truetype');
    font-family: 'Bluu';
    src: url('../assets/fonts/bluu/bluu.ttf') format('truetype');
  }
}
  
.txt-menu{
    color: #1c1515b4;
    font-family: 'Bluu';
    font-size: 1.125rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.line-menu{
  width: 100%;
  height: 0.25rem;
  background-color: black;
}
.swiper-button-next, .swiper-button-prev {
   color: #D31A41;
}
.pagination > li > a {
   background-color: #1C1C1C; color: #fff;
  }