@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Perandory';
    src: url('../assets/fonts/perandory/Perandory-Regular.otf') format('truetype');
    font-family: 'Bluu';
    src: url('../assets/fonts/bluu/bluu.otf') format('truetype');
  }

.txt-menu{
    color: #1c1515b4;
    font-family: 'Bluu';
    font-size: 1.125rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.line-menu{
  width: 1.6rem;
  height: 0.25rem;
  background-color: black;
}